* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}
html{
	background: #EBEDEF;
	font-family: 'Montserrat', sans-serif;
}
.header{
	background: black;
}
.header h2{
	color: white;
	padding: 15px;
	letter-spacing: 5px;
}
nav{
	float: right;
	margin-top: -40px;
	margin-right: 15px;
}
ul{
	padding: 0px;
	margin: 0px;
	text-align: center;
	display:inline-block;
}
li{
	list-style-type: none;
	padding: 0px;
	height: 24px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: inline;
}
li a{
	color: #E74C3C;
	font-size: 18px;
	text-decoration: none;
	padding: 5px 20px;
	border: 2px solid #E74C3C;
	border-radius: 5px;
}
li a:hover{
	background: #E74C3C;
	color: white;
	font-weight: bold;
}
a{
	text-decoration: none;
}
.container{
	width: 850px;
	margin: 0 auto;
}
button{
	margin-top: 50%;
	width: 140px;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	background: #54ACE7;
	color: white;
	cursor: pointer;
	font-weight: bold;
}
button:hover{
	background: #0088E1;
}
.align{
	margin-top: 40%;
}
input{
	width: 402px;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	padding: 10px;
}
input[type=submit]{
	background: #54ACE7;
	color: white;
	cursor: pointer;
	font-weight: bold;
	width: 100%;
}
input[type=submit]:hover{
	background: #0088E1;
}
